@use 'reset';
@use 'fonts';
@use 'colors';
@use 'measurements';

* > {
  box-sizing: border-box;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: colors.$bg-color-1;
  height: 4em;
  padding: 1em 0;
  color: #F2E205;
}
.page-header {
  font-size: fonts.$large;
}
.footer {
  height: 4em;
  padding: 1em 0;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  background-color: colors.$bg-color-1;
  color: #F2E205;
}
.content-container {
  display: flex;
  flex-direction: column;
  background-color: colors.$carousel;
  height: 100vh;
}
.content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
}
.carousel-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
  min-height: 10em;
}
.carousel {
  display: flex;
  max-height: 10em;
}
.btn-base {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
  border: none;
  height: 5em;
}
.btn-img {
  height: 100%;
}
.slide {
  height: 0;
  justify-content: center;
  transition: height 2s ease-in-out;
  display: flex;
}
.slide-img {
  height: 100%;
}
.slide.visible {
  height: measurements.$carousel-height;
}
.nav-circles {
  display: flex;
  margin: 2em 0;
  justify-content: center;
  flex-wrap: wrap;
}
.nav-circle {
  max-width: 1.5em;
  flex-shrink: 0;
  flex-grow: 0;
  display: flex;
  justify-content: center;
}
.nav-circle-img {
  height: 100%;
}
.github-icon {
  height: 2em;
}
.hidden {
  display: none;
}
