@use 'reset';
@use 'fonts';
@use 'colors';

header {
  display: flex;
  justify-content: center;
}
footer {
  height: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: colors.$bg-color-1;
}
.content-container {
  display: flex;
  flex-direction: column;
  background-color: colors.$carousel;
  height: 100vh;
}
.content {
  display: flex;
  flex-grow: 1;
  background-color: colors.$bg-color-2;
}
.carousel {
  display: flex;
}
.carousel-item-img {
  height: 100px;
}
.github-icon {
  height: 2em;
}